<div class="big-container">
  <mat-card>
    <div class="container">
      <mat-stepper>

        <mat-step>
          <mat-card-title> Enter details about tour: </mat-card-title>

          <br>
          <form class="example-form">

            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Enter name of tour</mat-label>
              <input matInput [(ngModel)]="model.name" name="name" required>
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">

              <mat-label>Date of realization</mat-label>
              <mat-date-range-input [rangePicker]="rangeSelection" [min]="getMinStartDate()">
                <input matStartDate placeholder="Start date" [(ngModel)]="model.startDate" name="startDate" required>
                <input matEndDate placeholder="End date" [(ngModel)]="model.endDate" name="endDate" required>
              </mat-date-range-input>
              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="rangeSelection"></mat-datepicker-toggle>
              <mat-date-range-picker #rangeSelection></mat-date-range-picker>
            </mat-form-field>

            &nbsp;

            <mat-form-field appearance="outline">
              <mat-label>Deadline for application</mat-label>
              <input matInput [matDatepicker]="$any(deadlinePicker)" [matDatepickerFilter]="filterOlder"
                [(ngModel)]="model.deadline" name="deadline" required>
              <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
              <mat-datepicker #deadlinePicker [startAt]="getMinStartDate()"></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Select tour type</mat-label>
              <mat-select [(ngModel)]="model.tourType" name="tourType" required>
                <mat-option *ngFor="let type of
              ['SUMMER_VACATION', 'WINTER_VACATION', 'WEEKEND', 'CRUISE_TRIP', 'ADVENTURE', 'OTHER']" value="{{type}}">
                  {{type}}</mat-option>

              </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="outline">
              <mat-label>Select type of transport</mat-label>
              <mat-select [(ngModel)]="model.transportationType" name="tourType" required>
                <mat-option *ngFor="let type of ['BUS', 'PLANE', 'TRAIN', 'NONE']" value="{{type}}">{{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Price</mat-label>
              <input matInput type="number" class="example-right-align" placeholder="0" name="price" min="1"
                [(ngModel)]="model.price" required>
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Description</mat-label>
              <textarea matInput [(ngModel)]="model.description" name="description"
                requiredresizeToFitContent></textarea>
            </mat-form-field>
            <br>
          </form>

        </mat-step>
        <mat-step>

          <mat-card-title> Select city tours: </mat-card-title>

          <form>
            <section>
              <h4>Select city tours to include:</h4>
              <p *ngFor="let tour of cityTours">
                <mat-checkbox (change)="setCityTour(tour)"> {{tour.city.name}} </mat-checkbox>
              </p>
            </section>
            <br>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Select guide:</mat-label>
              <mat-select [(ngModel)]="model.guideEmail" name="guideId" required>
                <mat-option *ngFor="let guide of guides" value="{{guide.email}}">{{guide.name+" "+guide.surname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <h4>Select cover photo:</h4>
              <label class="custom-file-upload">
                <i>Browse...</i>
                <input type="file" accept="image/png" (change)="fileChange($event)" />
              </label>&nbsp;
              <button mat-button (click)="upload()"> Upload </button>
            </div>
            <br>
          </form>
        </mat-step>
      </mat-stepper>
      <br>
    </div>
    <span class="backwards">
      <button mat-raised-button (click)="submit()" color="accent" [disabled]="!isFilled()"> Confirm </button>
    </span>

  </mat-card>
</div>
{{model | json}}