.card {
  width: 800px;
}

.card-content {
  display: flex;
}

.card-content-item {
  padding: 5px;
}

.wrapper {
  overflow:hidden;
}

.wrapper div {
  min-height: 200px;
  padding: 20px;
}

.container {
  min-height: 450px;
  padding: 5%;
}

.big-container {
  padding: 5% 20%;
  background-color: #d5d8dc;
}

.text {
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  max-width: 200px;
}

.half-width {
  width: 45%;
}

.third-width {
  width: 30%;
}

table {
  width: 100%;
}

