<div class="big-container">
  <mat-card class="container">
    <mat-card-title> Your account: </mat-card-title>
    <br>
    <br>

    <h2> Basic info: </h2>
    <div *ngIf="account">
      <form>
        <br>
        <mat-form-field appearance="standard">
          <mat-label>Enter your name</mat-label>
          <input matInput placeholder="Pam" [(ngModel)]="account.name" name="name" required>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="standard">
          <mat-label>Enter your surname</mat-label>
          <input matInput placeholder="Smith" [(ngModel)]="account.surname" name="surname" required>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="standard">
          <mat-label>Birthdate</mat-label>
          <input matInput [matDatepicker]="$any(picker)" [matDatepickerFilter]="filterYounger"  [(ngModel)]="account.birthdate" name="birthdate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="getMinDate()"></mat-datepicker>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="standard">
          <mat-label>Select your gender: </mat-label>
          <mat-select [(ngModel)]="account.gender"  name="gender">
            <mat-option value="MALE">Male</mat-option>
            <mat-option value="FEMALE">Female</mat-option>
            <mat-option value="OTHER">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <br>
        <mat-form-field appearance="standard" disabled="true">
          <mat-label>Enter your email</mat-label>
          <input matInput disabled [(ngModel)]="account.email"  name="email" required>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="standard" >
          <mat-label>Telephone</mat-label>
          <span matPrefix>+381 &nbsp;</span>
          <input type="tel" matInput placeholder="64-123-4567"  [(ngModel)]="account.phoneNumber"  name="phoneNumber" >
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password"  [(ngModel)]="account.password"  name="password" required>
        </mat-form-field>
        &nbsp;
        <br><br><br>

        <button mat-flat-button color="accent" class="confirm" (click)="update()">
          Confirm
        </button>
      </form>

    </div>

    <br><br><br>

    <div *ngIf="isClientUser()" >
      <button mat-flat-button color="primary" class="half-width" (click)="openMyReservations()">
        My reservations
      </button>&nbsp;&nbsp;
      <button mat-flat-button color="primary" class="half-width" (click)="openMyTrips()">
        My last trips
      </button>
    </div>

    <div *ngIf="isAgentUser()" >
      <button mat-flat-button color="primary" class="half-width" (click)="openToursByAgent()">
        My tours
      </button>&nbsp;&nbsp;
      <button mat-flat-button color="primary" class="half-width" (click)="openArticlesByAgent()">
        My articles
      </button>&nbsp;&nbsp;
      <button mat-flat-button color="primary" class="half-width"  (click)="getMonthlyReport()">
        Monthly report
      </button>
    </div>

    <div *ngIf="isGuideUser()" >
      <button mat-flat-button color="primary" class="third-width"  (click)="getToursByGuide()">
        My tours
      </button>&nbsp;&nbsp;
      <button mat-flat-button color="primary" class="third-width"  (click)="getMonthlyReport()">
        Monthly report
      </button>
    </div>


  </mat-card>
</div>
