<div class="container">
  <form class="example-form">
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pam@example.com"  required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="'password'" required>
    </mat-form-field>
    <br> <a [routerLink]=" '../registration' "> Don't have account? Click here to register! </a>
    <br><br><br>
    <button mat-flat-button color="primary" class="confirm">
      Confirm
    </button>
  </form>
</div>
