<mat-toolbar color="primary" class="header-toolbar">

  <img alt="logo" [src]="logoPath" width="100" height="60">

  <span class="header-spacer">Paper plane travel

    <span class="menu-buttons">
      <button mat-button [matMenuTriggerFor]="toursMenu" [routerLink]=" '/tours' " >
        Tours <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <mat-menu #toursMenu="matMenu" yPosition="above">
        <button mat-menu-item *ngFor="let type of this.getTourTypes()"> {{type}}  </button>
      </mat-menu>

      <!-- security: samo registrovan korisnik -->
      <button mat-button [routerLink]=" '/create-tour' ">Create tour</button>

      <button mat-button [matMenuTriggerFor]="beforeMenu">Travelogue</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="afterMenu">Gallery</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </span>
  </span>

  <!-- metod za provjeru login/profile -->

  <span class="login-button">
    <button mat-button [routerLink]=" '/login' ">
      Login
      <mat-icon>account_circle</mat-icon>
    </button>
  </span>

</mat-toolbar>
