<mat-toolbar color="primary" class="header-toolbar">

  <img alt="logo" [src]="logoPath" width="100" height="60">

  <span class="header-spacer">Paper plane travel

    <span class="menu-buttons">
      <button mat-button [matMenuTriggerFor]="toursMenu" >
        Tours <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <mat-menu #toursMenu="matMenu" yPosition="above">
        <button mat-menu-item *ngFor="let type of getTourTypes()" (click)="filterTours(type)"> {{type}} </button>
        <button mat-menu-item (click)="filterTours('')"> All tours  </button>
      </mat-menu>

      <!-- security: samo registrovan korisnik -->
      <button mat-button [routerLink]=" '/create-tour' "  *ngIf="getRoleFromCookie() != null">Create tour</button>

      <button mat-button [routerLink]=" '/travelogues' ">Travelogue</button>

      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </span>
  </span>

  <!-- metod za provjeru login/profile -->

  <span class="login-button">
    <button mat-button [routerLink]=" '/login' " *ngIf="getRoleFromCookie() == null" >
      Login
      <mat-icon>account_circle</mat-icon>
    </button>
    <div *ngIf="getRoleFromCookie() != null">
    <button mat-button [routerLink]=" '/account' " (click)="getAccount()">
      Account
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-button (click)="logout()">
      Logout
    </button>
      </div>
  </span>

</mat-toolbar>
