<div class="big-container">
  <mat-card class="container">
    <mat-card-title> Article: </mat-card-title>
    <br>
    <br>
    <mat-card-content>
      <form>
        <br>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Enter title of article</mat-label>
          <input matInput placeholder="Title" [(ngModel)]="title" name="name"  required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="third-width">
          <mat-label>Select country:</mat-label>
          <mat-select [(ngModel)]="countryId"  name="countryId" required  (selectionChange)="getCitiesByCountryId(countryId)">
            <mat-option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline"  class="third-width">
          <mat-label>Select city:</mat-label>
          <mat-select [(ngModel)]="cityId"  name="cityId" required disabled="{{countryId == -1}}">
            <mat-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Description</mat-label>
          <textarea  [(ngModel)]="text" name="text" matInput resizeToFitContent></textarea>
        </mat-form-field>
        <br>
        <div>
          <h4>Select cover photo:</h4>
          <label class="custom-file-upload">
            <i>Browse...</i>
            <input  type="file" accept="image/*" (change)="fileChange($event)"/>
          </label>&nbsp;
          <button mat-button (click)="upload()" > Upload </button>
        </div>
        <br>
        <span class="backwards"><button mat-raised-button (click)="submit()" color="accent"> Confirm </button></span>
      </form>
    </mat-card-content>
  </mat-card>
</div>
