<mat-dialog-content>
  <br>
  <h1> {{this.travelogue.title}} </h1>
  <br>
  <h3> {{this.travelogue.title +', '+ this.travelogue.city.country.name}} </h3>

  <br><br>
  <br><br>

  <img src="data:image/jpeg;base64,{{travelogue.coverImage!.data}}"
       alt="{{travelogue.coverImage!.altText}}" >

  <br><br>
  <br><br>
  <p>
    {{this.travelogue.text}}
  </p>
  <br><br>
  <br><br>

  Written by:
  {{this.travelogue.agentName + " " + travelogue.agentSurname + " "}}
  <i> {{this.travelogue.agentEmail + " "}} </i>



</mat-dialog-content>

