.card {
  width: 320px;
  background-color: whitesmoke;
}

.card-content {
  white-space: initial;
  display: flex;
  flex-flow: row column;
}


.loader {
  padding-left: 45%;
  padding-top: 25%;
  padding-bottom: 25%;
}

.card-content-item {
  padding: 5px;
}

.wrapper {
  overflow:hidden;
}

.wrapper div {
  min-height: 200px;
  padding: 20px;
}

#one {
  float:left;
  margin-right:20px;
  width:300px;
  height: 220px;
  overflow: hidden;
}

#one img {
  width:300px;
  height: 220px;
}

@media screen and (max-width: 400px) {
  #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;
  }
}

.container {
  min-height: 510px;
}

.big-container {
  padding: 5% 20%;
  background-color: #d5d8dc;
}

.center{
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}
